
.chapter-abstract {
    background-color: #eee;
    padding: 10px;
    font-style: italic;
    margin-bottom: 20px;
}

.chapter-pager {
    margin-top: 24px;
}
.chapter-pager a {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 100%;
    color: inherit;
    height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.chapter-pager a.chapter-next {
    float: right;
    margin-bottom: 10px;
}
.chapter-pager a.chapter-prev {
}
.chapter-pager a:hover {
    color: #4183c4;
    border-color: #4183c4;
}
.book.color-theme-1 .chapter-pager a {
    border-color: #70421480;
}

.book.color-theme-1 .chapter-pager a:hover {
    border-color: #000;
    color: #000;
}
.chapter-pager .fa {
    opacity: 0.5;
    /*font-size: 24px;*/
    margin-top: 10px;
}
.chapter-pager .chapter-prev .pager-arrow {
    float: left;
    margin-right: 10px;
}
.chapter-pager .pager-labels {
    font-size: 16px;
    position: absolute;
}
.chapter-pager .chapter-prev .pager-labels {
    right: 15px;
    text-align: right;
}
.chapter-pager .pager-labels .part {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}
.book.color-theme-1 .chapter-pager .pager-labels .part {
    color: #70421480;
}
.chapter-pager .pager-labels .chapter-label {
    padding-top: 3px;
}

.chapter-pager .chapter-next .pager-arrow {
    float: right;
    margin-left: 10px;
}
@media (min-width: 1001px) {
    .chapter-pager a {
        width: 48%;
    }
    .chapter-pager a.pager-unique {
        width: 100%;
    }
}

.page-inner h1 {
    margin: 0.25em 0 0.5em 0;
}
h1 + .page-subtitle {
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: 1.2em;
    font-style: italic;
}

.page-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #eee;
}
.page-footer .bottom-nav {
    padding-bottom: 2em;
}
.page-footer a {
    color: inherit;
    opacity: 1;
}
.page-footer a:hover {
    text-decoration: underline;
}
.book.color-theme-1 .page-footer {
    border-color: #70421480;
    background-color: #111;
}
.book.color-theme-2 .page-footer {
    background-color: #2d3143;
}

.back-to-top {
    z-index: 1;
}

ul.toc-chapters-full {
    list-style: none;
    padding-left: 0px;
}
ul.toc-chapters-full.show-drafts {
    padding-left: 20px;
}
.toc-chapters-full ul {
    list-style: none;
    padding-left: 20px;
}
.toc-chapters-full a {
    display: inline-block;
}
.color-theme-1 .markdown-section .toc-chapters-full a {
    font-weight: normal;
}
.toc-chapters-full a:hover {
    text-decoration: none;
}
.toc-chapters-full a:hover .chapter-label {
    text-decoration: underline;
}
.toc-chapters-full li.part {
    margin-top: 10px;
    margin-bottom: 5px;
}
.toc-chapters-full .part-label {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.toc-chapters-full.show-drafts .part-label {
    margin-left: -20px;
}
.toc-chapters-full li.chapter {
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
}
.book .toc-chapters-full li.chapter a,
.book .toc-chapters-full li.chapter a:hover {
    text-decoration: none;
}
.toc-chapters-full.show-drafts li.chapter::before {
    content: "\f046";
    font: normal normal normal 14px/1 FontAwesome;
    opacity: 0.7;
    position: absolute;
    left: -20px;
    top: 5px;
}
.toc-chapters-full.show-drafts li.chapter.draft::before {
    content: "\f096";
}
.toc-chapters-full.show-drafts ul li.chapter::before {
    left: -40px;
}
.toc-chapters-full .chapter-num {
    opacity: 0.5;
}
.toc-chapters-full .abstract {
    color: #333;
    font-style: italic;
}
.color-theme-1 .toc-chapters-full .abstract {
    color: inherit;
}
.color-theme-2 .toc-chapters-full .abstract {
    color: #bdcadb;
}
figure {
    margin-right: 10px;
    margin-bottom: 10px;
}
figure {
    border: 1px solid #ccc;
    border-radius: 6px;
}
figure figcaption {
    border-top: 1px solid #ccc;
    padding: 5px;
    line-height: 1.3;
    font-style: italic;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
figure.row {
    display: inline-block;
    vertical-align: top;
}
/*
figure.row.of-3 {
  width: calc(33% - 20px);
}
figure.row.of-4 {
  width: calc(25% - 20px);
}
*/
.references p,
.hanging-indent p {
    padding-left: 30px ;
    text-indent: -30px ;
}
table.inspect-chapter-iterate-vars {
    display: flex;
}
table.inspect-chapter-iterate-vars th { text-align: right; }

table.inspect-chapter-iterate-vars th.divider { 
    text-align: center; 
    text-transform: uppercase;
}

.book-summary ul.summary li.header a {
    padding: 0;
}
.part-index h1 {
    text-transform: uppercase;
}

.breadcrumb {
    /*padding: 0 .5rem;*/
    padding: 0;
    line-height: 2em;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumb li {
    margin-right: .75em;
    color: #000;
}
.breadcrumb .book-icon {
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
    margin-right: .25em;
}
    
/*.breadcrumb li:not(:last-child)::after {*/
.breadcrumb li:not(.no-arrow)::after {
    display: inline-block;
    /*margin-left: .5em;*/
    content: '\203a';
}

.breadcrumb-part {
    text-transform: uppercase;
}

.book.color-theme-1 .breadcrumb li a {
    color: inherit;
}
.book.color-theme-2 .breadcrumb li {
    color: #ccc;
}

.heading-chapter-title {
    margin-top: 0.25em;
}
.heading-part {
    text-transform: uppercase;
}