---
---

.book-body {
    overflow-y: scroll;
}

.book-body .book-header {
    position: fixed;
    width: 100%;
}

.book.with-summary .book-body .book-header {
    position: fixed;
    width: calc(100% - 300px);
}

.book-body .body-inner {
    /* position: absolute; */
    margin-top: 50px;
    min-height: calc(100% - 50px);
}

.book-body .body-inner .page-wrapper {
    min-height: calc(100% - 46px);
}

.book-body .body-inner .page-wrapper .page-inner {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .book-body .body-inner .navigation {
        max-width: calc(50% - 3px);
        width: calc(50% - 3px);
    }
}

.book .book-body .book-header, #post-nav {
    background: #ffffff;
}

.book.color-theme-1 .book-body .book-header, #post-nav {
    background: #f3eacb;
}

.book.color-theme-2 .book-body .book-header, #post-nav {
    background: #1c1f2b;
}

.page-inner {
    max-width: {{ site.page_width | default: '900px' }};
}

.back-to-top {
    right: calc((100% - 200px - min(100% - 200px, {{ site.page_width | default: '900px' }})) / 2 + 25px);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: rgba(125, 125, 125, 0.2); */
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(7, 17, 27, .2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.2);
    -webkit-border-radius: 6px;
}

/* Style for search page on mobile screens */

#book-search-input-link {
    padding: 6px;
    background: 0 0;
    background: inherit;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-link a {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 38px;
    padding: 7px 7px;
    color: #757575;
}

#book-search-input {
    display: block;
}
#book-search-input-link {
    display: none;
}

@media (max-width: 1240px) {
    #book-search-input {
        display: none;
    }
    #book-search-input-link {
        display: block;
    }
}

#book-search-input-inside {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-inside input {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit;
}


/* Custom font settings */

.book.font-family-0 {
    font-family: Berkshire Swash,ui-serif,Georgia,Cambria,Times New Roman,Times,serif,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
.book.font-family-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Render wide tables */

.table-wrapper {
    overflow-x: scroll;
}

/* Tips, warnings, and dangers */

.markdown-section blockquote.block-tip {
    border-color: var(--c-tip);
    background-color: var(--c-tip-bg);
    color: var(--c-tip-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-tip h1 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h2 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h3 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h4 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h5 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h6 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-warning {
    border-color: var(--c-warning);
    background-color: var(--c-warning-bg);
    color: var(--c-warning-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-warning h1 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h2 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h3 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h4 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h5 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h6 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-danger {
    border-color: var(--c-danger);
    background-color: var(--c-danger-bg);
    color: var(--c-danger-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-danger h1 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h2 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h3 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h4 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h5 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h6 {
    color: var(--c-danger-title);
}

:root {
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
    font-size: 0.8em;
}

img {
    border-radius: 15px !important;
    max-height: 700px;
    display: block;
    margin: auto;
}

.markdown-section h1  {
    margin-bottom: 0.3em;
}

.markdown-section h2  {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

.side-by-side {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 1.5rem;
    text-align: justify
}

.cross {
    padding: 1px 10px;
    text-align: center
}

aside:not([class]) {
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(242 221 199 / var(--tw-bg-opacity));
    padding: 1rem;
    --tw-text-opacity: 1;
    color: rgb(80 73 69 / var(--tw-text-opacity))
}

aside:not([class]):is([data-theme=dark] *) {
    --tw-bg-opacity: 1;
    background-color: rgb(50 48 47 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(226 193 162 / var(--tw-text-opacity))
}

aside:not([class]) {
    border-inline-start:.25rem solid
}

aside {
    margin-bottom: 15px !important;
}

aside ul {
    display: inline-flex;
    margin: 0px !important;
}

aside ul li {
    display: inline-flex;
    margin-right: 5px !important;
}

aside .markdown-section a, aside ul li a, aside ul li a:active, aside ul li a:hover {
    color: #c00 !important;
    text-decoration: none !important;
    margin-right: 5px;
    margin-left: 5px;
}

aside ul {
    padding-left: 0px !important;
}

aside .markdown-section a:before, aside ul li a:before {
    content:"❖";  
}

em {
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(242 221 199 / var(--tw-bg-opacity));
    padding: .25rem;
    --tw-text-opacity: 1;
    color: rgb(80 73 69 / var(--tw-text-opacity))
}

em:is([data-theme=dark] *) {
    --tw-bg-opacity: 1;
    background-color: rgb(50 48 47 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(226 193 162 / var(--tw-text-opacity))
}

.red, .text-red-500, h1, h2 {
    color: #c00;
}

.page-inner {
    max-width: 901px;
}

.back-to-top {
    right: calc((100% - 300px - min(100% - 300px, 1001px)) / 2 + 25px);
}

/*
.navigation.navigation-next, .navigation.navigation-prev {
    position: fixed;
}
*/

/*Transitions*/
#post-nav a,
#post-list a	{
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease; 
}

ul 	{ margin:0; padding:0; }
li	{ list-style-type:circle; list-style-position:inside; }

/* Post Navigation */
#post-nav {
	border-top:1px solid #eee;
	text-align:center;
	font-size:13px;
	font-weight:500;
	margin-top: 40px; 
}

#post-nav a {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
    margin: 4px;
}

#post-nav a.prev {
	float: left;
    margin: 9px 15px 15px 15px !important;
    padding: 10px;
    border-radius: 7px;
}

#post-nav a.next {
	float: right;
    margin: 9px 15px 15px 15px !important;
    padding: 10px;
    border-radius: 7px;
}

#post-nav a .arrow {
	position: relative;
	padding: 1px;
}

#post-nav a.prev:hover .arrow {
	left: -4px;
}

#post-nav a.next:hover .arrow {
	right: -4px;
}

#post-nav a.prev:hover {
	left: -3px;
}

#post-nav a.next:hover {
	right: -3px;
}

.btn {
    display: inline-block;
    margin: 2px; 
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 0px 10px; 
    height: 44px;
    line-height: 44px;
    border-radius: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book-header .btn {
    height: 44px;
    line-height: 44px;
}

.back-to-top {
    bottom: 53px;
}

#post-nav a.prev, #post-nav a.next, .btn, .btn a {
    color: #2d3143 !important;
    background-color: #ededee !important;
    text-decoration: none;
}

#post-nav a.next:hover, #post-nav a.next:hover, .btn a:hover {
    right: -3px;
    text-decoration: none;
}

.page-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    opacity: 0.8; 
    width: 100%;
    bottom: 0;
    background-color: #eee;
}
.page-footer .bottom-nav {
    padding-bottom: 2em;
}
.page-footer a {
    color: inherit;
    opacity: 1;
}
.page-footer a:hover {
    text-decoration: underline;
}